MVC/Connected Services/SoapService/ApplicationService.DTO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationService.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Data.Entities" />
  <xs:complexType name="ArrayOfStudentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentDTO" nillable="true" type="tns:StudentDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentDTO" nillable="true" type="tns:ArrayOfStudentDTO" />
  <xs:complexType name="StudentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EGN" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Speciality" nillable="true" type="tns:SpecialityDTO" />
      <xs:element minOccurs="0" name="SpecialityId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentDTO" nillable="true" type="tns:StudentDTO" />
  <xs:complexType name="SpecialityDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountSubject" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Duration" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InspectorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Data.Entities" minOccurs="0" name="Students" nillable="true" type="q1:ArrayOfStudent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpecialityDTO" nillable="true" type="tns:SpecialityDTO" />
  <xs:complexType name="ArrayOfFacultyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FacultyDTO" nillable="true" type="tns:FacultyDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFacultyDTO" nillable="true" type="tns:ArrayOfFacultyDTO" />
  <xs:complexType name="FacultyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Data.Entities" minOccurs="0" name="Specialties" nillable="true" type="q2:ArrayOfSpeciality" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FacultyDTO" nillable="true" type="tns:FacultyDTO" />
  <xs:complexType name="ArrayOfSpecialityDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpecialityDTO" nillable="true" type="tns:SpecialityDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpecialityDTO" nillable="true" type="tns:ArrayOfSpecialityDTO" />
</xs:schema>