MVC/Connected Services/SoapService/Data.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Data.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Data.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudent" nillable="true" type="tns:ArrayOfStudent" />
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentSpeciality" nillable="true" type="tns:Speciality" />
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EGN" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" type="xs:int" />
      <xs:element minOccurs="0" name="SpecialityId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="Speciality">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountSubject" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Duration" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Faculty" nillable="true" type="tns:Faculty" />
      <xs:element minOccurs="0" name="FacultyId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InspectorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Students" nillable="true" type="tns:ArrayOfStudent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Speciality" nillable="true" type="tns:Speciality" />
  <xs:complexType name="Faculty">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountEmployees" type="xs:int" />
      <xs:element minOccurs="0" name="Dean" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profit" type="xs:double" />
      <xs:element minOccurs="0" name="Specialties" nillable="true" type="tns:ArrayOfSpeciality" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Faculty" nillable="true" type="tns:Faculty" />
  <xs:complexType name="ArrayOfSpeciality">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Speciality" nillable="true" type="tns:Speciality" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpeciality" nillable="true" type="tns:ArrayOfSpeciality" />
</xs:schema>