MVC/Connected Services/SoapService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudents" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudentById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PostStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:PostStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_PostStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:EditStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_EditStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFaculties_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFaculties" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFaculties_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFacultiesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PostFaculty_InputMessage">
    <wsdl:part name="parameters" element="tns:PostFaculty" />
  </wsdl:message>
  <wsdl:message name="IService1_PostFaculty_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostFacultyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteFaculty_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFaculty" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteFaculty_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFacultyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFacultyByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFacultyByID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFacultyByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFacultyByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditFaculty_InputMessage">
    <wsdl:part name="parameters" element="tns:EditFaculty" />
  </wsdl:message>
  <wsdl:message name="IService1_EditFaculty_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditFacultyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSpecialities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecialities" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSpecialities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecialitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSpecialityById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecialityById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSpecialityById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecialityByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PostSpeciality_InputMessage">
    <wsdl:part name="parameters" element="tns:PostSpeciality" />
  </wsdl:message>
  <wsdl:message name="IService1_PostSpeciality_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostSpecialityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteSpeciality_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSpeciality" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteSpeciality_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSpecialityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditSpeciality_InputMessage">
    <wsdl:part name="parameters" element="tns:EditSpeciality" />
  </wsdl:message>
  <wsdl:message name="IService1_EditSpeciality_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditSpecialityResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStudents" message="tns:IService1_GetStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStudentsResponse" message="tns:IService1_GetStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStudentById" message="tns:IService1_GetStudentById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStudentByIdResponse" message="tns:IService1_GetStudentById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostStudent" message="tns:IService1_PostStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostStudentResponse" message="tns:IService1_PostStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteStudent" message="tns:IService1_DeleteStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteStudentResponse" message="tns:IService1_DeleteStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditStudent" message="tns:IService1_EditStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditStudentResponse" message="tns:IService1_EditStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFaculties">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFaculties" message="tns:IService1_GetFaculties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFacultiesResponse" message="tns:IService1_GetFaculties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostFaculty">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostFaculty" message="tns:IService1_PostFaculty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostFacultyResponse" message="tns:IService1_PostFaculty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFaculty">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteFaculty" message="tns:IService1_DeleteFaculty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteFacultyResponse" message="tns:IService1_DeleteFaculty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFacultyByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFacultyByID" message="tns:IService1_GetFacultyByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFacultyByIDResponse" message="tns:IService1_GetFacultyByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditFaculty">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditFaculty" message="tns:IService1_EditFaculty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditFacultyResponse" message="tns:IService1_EditFaculty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecialities">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSpecialities" message="tns:IService1_GetSpecialities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSpecialitiesResponse" message="tns:IService1_GetSpecialities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecialityById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSpecialityById" message="tns:IService1_GetSpecialityById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSpecialityByIdResponse" message="tns:IService1_GetSpecialityById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostSpeciality">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostSpeciality" message="tns:IService1_PostSpeciality_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostSpecialityResponse" message="tns:IService1_PostSpeciality_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSpeciality">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteSpeciality" message="tns:IService1_DeleteSpeciality_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteSpecialityResponse" message="tns:IService1_DeleteSpeciality_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditSpeciality">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditSpeciality" message="tns:IService1_EditSpeciality_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditSpecialityResponse" message="tns:IService1_EditSpeciality_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStudentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/PostStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/EditStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFaculties">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFaculties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostFaculty">
      <soap:operation soapAction="http://tempuri.org/IService1/PostFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFaculty">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacultyByID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFacultyByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditFaculty">
      <soap:operation soapAction="http://tempuri.org/IService1/EditFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecialities">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSpecialities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecialityById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSpecialityById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostSpeciality">
      <soap:operation soapAction="http://tempuri.org/IService1/PostSpeciality" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSpeciality">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteSpeciality" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditSpeciality">
      <soap:operation soapAction="http://tempuri.org/IService1/EditSpeciality" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>